@font-face {
	font-family: "Amatic";
	src: url("../fonts/AmaticSC-Regular.ttf");
}

@font-face {
	font-family: "Indie Flower";
	src: url("../fonts/IndieFlower.ttf");
}

@keyframes messageBoxAnimation {
  from {
    margin-top: 50%;
  } to {
    margin-top: 0;
  }
}

button {
	background-color: darkturquoise;
  	border: none;
  	color: white;
  	opacity: 0.6;
  	transition: 0.3s;
  	display: inline-block;
  	text-decoration: none;
  	cursor: pointer;
  	border-radius: 10px
  }

body {
	font-family: "Amatic", cursive;
	font-size: 1.5em;
	margin: 0;
}

h1 {
	margin: 0px;
	padding: 0px
}

header {
	position: relative;
	text-align: center;
	background-color: darkturquoise;
	padding: 20px 0 10px 0;
	font-family: "Indie Flower", cursive;
	z-index: 2;
}

main {
	text-align: center;
	margin: 0 auto;
}

.btn {
	font-size: 1.5em;
	font-family: inherit;
	font-weight: bold;
	height: 150px;
	width: 150px;
	box-sizing: border-box;
	margin: 0 2px;
	color: black;
}

button:hover {
	opacity: 1;
}

button:focus {
	outline: none;
}

#scoreBoard, #events {
	margin: 0 auto;
	width: 462px;
}

.scr {
	display: inline-block;
	margin-bottom: 5px;
	width: 154px;
	box-sizing: border-box;
}

.evn {
	display: inline-block;
	margin-top: 5px;
	width: 231px;
}

#playerScoreBoard, #playerChoice {
	text-align: left;
}

#computerScoreBoard, #computerChoice {
	text-align: right;
}

#btnGroup, #results {
	margin: 0 auto;
	width: 462px;
}

#btnGroup {
	height: 150px;
}

#messageBox {
	background-color: darkturquoise;
	width: 462px;
	height: 150px;
	margin: 0 auto;
	font-size: 1.5em;
	position: relative;
	top: -150px;
}

#messageBox p {
	margin: 0px;
}

#message {
	padding: 20px 0 0 0;
}

#reset {
	margin: 15px 0 0 0;
	height: 50px;
	width: 150px;
	font-family: inherit;
	font-weight: bold;
	font-size: 1em;
	background-color: black;
}

#playerScore, #computerScore, #rounds {
	font-weight: bold;
}

.bold {
	font-weight: bold;
}