@font-face {
	font-family: "Amatic";
	src: url("../fonts/AmaticSC-Regular.ttf");
}

@font-face {
	font-family: "Indie Flower";
	src: url("../fonts/IndieFlower.ttf");
}

body {
	font-family: "Amatic", cursive;
	font-size: 20px;
	margin: 0;
}

h1 {
	margin: 0px;
	padding: 0px
}

header {
	text-align: center;
	background-color: darkturquoise;
	padding: 20px 0 10px 0;
	font-family: "Indie Flower", cursive;
}

main {
	text-align: center;
	margin: 0 auto;
}

button {
	font-size: 1.5em;
	font-family: inherit;
	font-weight: bold;
	height: 150px;
	width: 150px;
}

#score, #events {
	margin: 0 auto;
	width: 454px;
}

.scr {
	display: inline-block;
	margin-bottom: 5px;
}

.evn {
	display: inline-block;
	margin-top: 5px;
}

#playerScoreBoard, #playerChoice {
	float: left;
}

#computerScoreBoard, #computerChoice {
	float: right;
}

#btnGroup, #results {
	clear: left;
	clear: right;
}